@charset "utf-8";
/* CSS Document */

*{ margin:0; padding:0;}
li{ list-style:none;}
a{ text-decoration:none;}
img{ display:block;}
img{border:none;}

.fl{ float:left;}
.fr{ float:right;}
.clearFix:after{ content:''; display:block; clear:both;}
.clearFix{ zoom:1;}

.wraper{ width:1200px; margin:0 auto;}













